5624

In [13]:

class Solution(object):
    def titleToNumber(self, columnTitle):

      alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
      length = len(columnTitle)
      o_p = 0

      for i in columnTitle:
          o_p += (alphabet.index(i) + 1) * (26 ** (length-1))
          length -= 1

      return o_p

solution = Solution()
columnTitle = "ZY"
print(solution.titleToNumber(columnTitle))

701